*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

#root{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 15px #d6d6d6;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    // box-shadow: 0px 1px 10px #d6d6d6;

    .brand{
        font-size: 2rem;
        letter-spacing: 10px;
    }

    .clear{
        background-color: #d6d6d6;
        padding: 4px 8px;
        border-radius: 7px;
        &.active{
            background-color: #ff5555;
            border-radius: 7px;
            padding: 4px 8px;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

.card{
   // box-shadow: 0 0 15px #d6d6d6;
    // border-radius: 7px;
    padding: 25px;
    margin: 15px;
    width: 100%;
    //border: 1px solid #d6d6d6;

    &-header{
        width: 100%;
        font-size: .9rem;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-footer{
        width: 100%;
        font-size: .9rem;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .source{
            padding: 4px 8px;
            background-color: #3333ff;
            color: #ffffff;
            border-radius: 7px;
            cursor: pointer;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(90deg);
    }

    40% {
        transform: rotate(180deg);
    }

    70% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    height: 93%;

    .news-list{
        width: 60%;
        height: 95%;
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow-y: scroll;
        position: relative;

        .preloader{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            .spinner{
                width: 64px;
                height: 64px;
                background-color: #d6d6d6;
                border-radius: 7px;
                animation-name: spinner;
                animation-duration: 3s;
                animation-iteration-count: infinite;
            }
        }
    }

    .news-list::-webkit-scrollbar{
        display: none;
    }

    .newspaper{
        height: 95%;
        width: 40%;
        border-radius: 7px;
        box-shadow: 0 0 15px #d6d6d6;
        padding: 25px 50px;
        overflow-y: scroll;
        position: relative;

        &-preloader{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 25px;
        }

        &-title{
            text-align: left;
            margin-bottom: 15px;
        }

        &-content{
            font-size: 1.3rem;
        }

        &-image{
            width: 100%;
            height: 30%;
            background-color: #d6d6d6;
            border-radius: 7px;
            margin: 15px 0;
        }
    }
}




