<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/main.scss" />
    <title>Newsfy</title>
  </head>
  <body>
    <div id="root">
      <header>
        <div class="brand">Newsfy</div>
        <div class="today">Сегодня: {{new Date().toLocaleDateString('Ru-ru')}}</div>
        <div class="clear" :class='{active: isSourceSet}' @click='getNews(), isSourceSet = false'>Сбросить фильтры</div>
      </header>
      <main>
        <div class="news-list">
            <div class="preloader" v-if='newsLoading'>
                <div class="spinner"></div>
            </div>
            <div class="card" v-for='item in news'>
                <div class="card-header">
                    <span class="date">
                        {{new Date(item.pubDate).toLocaleString('Ru-ru')}}
                    </span>
                </div>
                <h2 class="card-title" @click='getNewspaper(item.title, item.link, item.description)'>
                    {{item.title}}
                </h2>
                <div class="card-footer">
                    <div class="source" @click='getNewsBySource(item.hostname), isSourceSet = true'>
                        {{item.hostname}}
                    </div>
                </div>
            </div>
        </div>
        <div class="newspaper">
            <div class="newspaper-preloader" v-if='!newspaperLoaded'>
                Нажмите на заголовок новости, чтобы отобразить её текст
            </div>
          <h2 class="newspaper-title">
            {{newspaper.title}}
          </h2>
          <div class="newspaper-content">
            {{newspaper.content}}
          </div>
          <a :href='newspaper.source'>Читать далее</a>
        </div>
      </main>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
